In [2]:
import pandas as pd
import numpy as np

In [3]:
def read_position(path):
    df = pd.read_csv(path, sep = '\t', header = None)
    df.columns = df.iloc[-1]
    df = df[:-1]
    return(df)

In [4]:
region_that_converge = pd.read_csv("/gpfs/commons/home/tlin/output/bellenguez/bellenguez_fixed_0224/finemap/try_rescue_not_converge/overlap_snp/converge_position.tsv", names = ["CHR", "SNP","BP","A1","A2"], sep = '\t')
new = read_position("/gpfs/commons/home/tlin/output/bellenguez/bellenguez_fixed_0224/finemap/try_rescue_not_converge/aggregate_all_position.sort.tsv")
fix_convergence_position = read_position('/gpfs/commons/home/tlin/output/bellenguez/bellenguez_fixed_0224/finemap/try_rescue_not_converge/aggregate_all_position.sort.tsv')

/gpfs/commons/home/tlin/.conda/envs/polyfun/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (0,2) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [29]:
fix_convergence = pd.read_csv('/gpfs/commons/home/tlin/output/bellenguez/bellenguez_fixed_0224/finemoap/try_rescue_not_converge/aggregrate.all.txt', sep = '\t')

In [7]:
converge_genomewide=pd.DataFrame()

In [35]:
for i in range(1, 23):
    print("start chr %s"%(i))
    ori_filename = '/gpfs/commons/home/tlin/output/bellenguez/bellenguez_fixed_0224/finemap/max_snp_10/chr{}.aggregrate.all.txt'
    ori = pd.read_csv(ori_filename.format(i), sep = '\t')
    converge_chr=ori[~ori.SNP.isin(region_that_converge.SNP)]
    converge_genomewide = pd.concat([converge_genomewide, converge_chr])

start chr 1
start chr 2
start chr 3
start chr 4
start chr 5
start chr 6
start chr 7
start chr 8
start chr 9
start chr 10
start chr 11
start chr 12
start chr 13
start chr 14
start chr 15
start chr 16
start chr 17
start chr 18
start chr 19
start chr 20
start chr 21
start chr 22

In [36]:
converge_genomewide.shape

(13272955, 15)

In [37]:
converge_genomewide.to_csv('/gpfs/commons/home/tlin/output/bellenguez/bellenguez_fixed_0224/finemap/max_snp_10/converge_genomewide.tsv', sep = '\t', index = False)

In [38]:
finemap_genomewide = pd.concat([converge_genomewide, fix_convergence])
finemap_genomewide.CHR = finemap_genomewide.CHR.astype(int)
finemap_genomewide = finemap_genomewide.sort_values("CHR")

In [39]:
finemap_genomewide.shape

(17671095, 15)

In [65]:
duplicated = finemap_genomewide[finemap_genomewide.SNP.duplicated()].SNP

(4395817,)

In [64]:
duplicated.drop(columns = ["start","end"])

,CHR,SNP,BP,A1,A2,SNPVAR,N,Z,P,PIP,BETA_MEAN,BETA_SD,CREDIBLE_SET
0,1,rs566788719,1500787,G,A,3.435400e-09,443137,1.24730,0.212288,0.0,0.0,0.0,0
655222,1,rs12116727,168666520,T,A,1.647200e-09,487511,0.30811,0.757999,0.0,0.0,0.0,0
615295,1,rs4017454,160883250,T,A,1.647200e-09,487511,0.18096,0.856399,0.0,0.0,0.0,0
615294,1,rs12735610,160883227,G,A,1.647200e-09,487511,-1.26410,0.206194,0.0,0.0,0.0,0
615293,1,rs4017455,160883174,A,T,1.647200e-09,478937,0.19039,0.849004,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103750,22,rs778676823,37624773,G,A,1.647200e-09,462058,-0.33093,0.740697,0.0,0.0,0.0,0
103749,22,rs56265548,37624697,C,T,1.647200e-09,486567,0.22035,0.825599,0.0,0.0,0.0,0
103748,22,rs8137698,37624236,T,C,1.647200e-09,487511,1.97090,0.048735,0.0,0.0,0.0,0
103756,22,rs567596567,37625399,G,T,1.647200e-09,482052,0.89685,0.369799,0.0,0.0,0.0,0
4398139,22,rs6003063,43499899,C,T,8.387200e-09,487511,0.96909,0.332500,0.0,0.0,0.0,0

In [98]:
duplicated_df = finemap_genomewide[finemap_genomewide.SNP.isin(duplicated)].drop(columns = ["start","end"])

In [74]:
duplicated_df.shape

(8791634, 13)

9837826

In [86]:
no_duplicate = duplicated_df.drop_duplicates()

In [113]:
no_duplicate

,CHR,SNP,BP,A1,A2,SNPVAR,N,Z,P,PIP,BETA_MEAN,BETA_SD,CREDIBLE_SET
4421,1,rs566788719,1500787,G,A,3.435400e-09,443137,1.24730,0.212288,0.0,0.00000,0.000000,0
320431,1,rs114542185,201136032,C,T,1.647200e-09,467962,2.84820,0.004397,0.0,0.00000,0.000000,0
320432,1,rs74478813,201136910,C,T,1.647200e-09,443137,1.01230,0.311395,0.0,0.00000,0.000000,0
320433,1,rs114133233,201137076,A,T,1.647200e-09,486567,-0.53942,0.589597,0.0,0.00000,0.000000,0
320434,1,rs60406023,201137253,C,T,1.647200e-09,487511,0.80330,0.421801,0.0,0.00000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106868,22,rs77439706,38217117,T,C,1.647200e-09,487511,4.33000,0.000015,1.0,1.11471,0.001350,2
106863,22,rs77080144,38215898,A,T,1.647200e-09,487511,4.38200,0.000012,1.0,4.12872,0.002700,4
106859,22,rs76070102,38213823,G,A,8.387200e-09,487511,-4.48170,0.000007,1.0,-3.02408,0.002339,3
106885,22,rs117618411,38221141,C,T,1.647200e-09,487511,-4.38690,0.000011,0.0,0.00000,0.000000,0
106881,22,rs145301950,38220704,C,T,1.647200e-09,487511,-4.42380,0.000010,0.0,0.00000,0.000000,0

In [94]:
solve_converge = no_duplicate[no_duplicate.SNP.duplicated()].SNP
print(solve_converge.shape)

(523096,)

In [111]:
try_Remove = finemap_genomewide[finemap_genomewide.SNP.isin(solve_converge)].sort_values("SNP") ## these are the rows that appears in both files

In [117]:
remains = try_Remove[(try_Remove.end - try_Remove.start) == 1000000].drop(columns = ["start","end"])

In [91]:
"finemap_genomewide[finemap_genomewide.SNP == 'rs145301950']

,CHR,SNP,BP,A1,A2,SNPVAR,N,Z,P,PIP,BETA_MEAN,BETA_SD,CREDIBLE_SET,start,end
4375663,22,rs145301950,38220704,C,T,1.647200e-09,487511,-4.4238,0.00001,0.0,1.444970e-280,5.312040e-141,0,37500001,38500001
106881,22,rs145301950,38220704,C,T,1.647200e-09,487511,-4.4238,0.00001,0.0,0.000000e+00,0.000000e+00,0,37000001,40000001

In [115]:
finemap_genomewide_merged = finemap_genomewide[~finemap_genomewide.SNP.isin(solve_converge)].drop(columns = ["start","end"])
finemap_genomewide_merged = pd.concat([finemap_genomewide_merged, remains])

In [118]:
finemap_genomewide_merged = finemap_genomewide_merged.drop(columns = ["start","end"])

In [119]:
finemap_genomewide_merged[finemap_genomewide_merged.SNP.duplicated()]

,CHR,SNP,BP,A1,A2,SNPVAR,N,Z,P,PIP,BETA_MEAN,BETA_SD,CREDIBLE_SET
0,1,rs566788719,1500787,G,A,3.435400e-09,443137,1.24730,0.212288,0.0,0.0,0.0,0
655222,1,rs12116727,168666520,T,A,1.647200e-09,487511,0.30811,0.757999,0.0,0.0,0.0,0
615295,1,rs4017454,160883250,T,A,1.647200e-09,487511,0.18096,0.856399,0.0,0.0,0.0,0
615294,1,rs12735610,160883227,G,A,1.647200e-09,487511,-1.26410,0.206194,0.0,0.0,0.0,0
615293,1,rs4017455,160883174,A,T,1.647200e-09,478937,0.19039,0.849004,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103750,22,rs778676823,37624773,G,A,1.647200e-09,462058,-0.33093,0.740697,0.0,0.0,0.0,0
103749,22,rs56265548,37624697,C,T,1.647200e-09,486567,0.22035,0.825599,0.0,0.0,0.0,0
103748,22,rs8137698,37624236,T,C,1.647200e-09,487511,1.97090,0.048735,0.0,0.0,0.0,0
103756,22,rs567596567,37625399,G,T,1.647200e-09,482052,0.89685,0.369799,0.0,0.0,0.0,0
4398139,22,rs6003063,43499899,C,T,8.387200e-09,487511,0.96909,0.332500,0.0,0.0,0.0,0

In [122]:
result = finemap_genomewide_merged.drop_duplicates()

In [123]:
result[result.SNP.duplicated()]

Empty DataFrame
Columns: [CHR, SNP, BP, A1, A2, SNPVAR, N, Z, P, PIP, BETA_MEAN, BETA_SD, CREDIBLE_SET]
Index: []

In [124]:
result.to_csv('/gpfs/commons/home/tlin/output/bellenguez/bellenguez_fixed_0224/finemap/try_rescue_not_converge/finemap_genomewide.tsv', sep = '\t', index = False)